body {
  margin: 0;
}

header,
footer {
  width: inherit;
  height: 115px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

header {
  position: sticky;
  top: 0;
}

main {
  width: inherit;
}

main #hero,
#about,
#treats {
  width: inherit;
  height: 450px;
  border: 1px solid blue;
}

main #locations {
  width: inherit;
  height: 335px;
}
