/*Universal Settings*/
html {
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid blue;
}

/*Header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

header .logo a {
  text-decoration: none;
}

header .nav li {
  display: inline;
  padding-left: 20px;
}

header .nav a {
  text-decoration: none;
}

header button {
}

/*Main*/
main {
  border: 1px solid orange;
}

main .about {
}

main .services {
}

main .locaion {
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
}

footer li {
  display: inline;
  list-style-type: none;
}

footer .left a {
  text-decoration: none;
  border: 1px solid red;
}

footer .right li {
  padding-left: 20px;
}

footer button {
}
