body {
    font-family: 'Roboto', sans-serif;
    margin: 0 10%;
    background-color: #000;
  }

  header h1 {
    color: #fff;
  }
  
  .container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
    background-color: #fff;
  }
  
  .color-container {
    width: 100%;
  }
  
  .color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
  }
  
  .charcoal {
    background-color: #36454F;
    color: #fff;
  }
  
  .very-dark-blue {
    background-color: #0d324d;
    color: #fff;
  }
  
  .mint-green {
    background-color: #4fe0b0;
  }
  
  .soft-red {
    background-color: #ed5958;
  }
  
  .font-panel {
    width: 45%;
    display: inline-block;
  }
  
  .font-label {
    font-size: 20px;
    text-decoration: underline;
  }
  
  .regular {
    font-style: normal;
  }
  
  .italic {
    font-style: italic;
  }
  
  .bold {
    font-weight: 700;
  }
  
  .roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .tourney {
    font-family: 'Tourney', cursive;
  }
  
  .genos {
    font-family: 'Genos', sans-serif;
  }
  
  .text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
  }
  
  .text-panel h2 {
    font-weight: 700;
    font-size: 18px;
    font-family: 'Tourney', cursive;
  }
  
  .text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Genos', sans-serif;
  }